body {
    display: grid;
    height: 100vh;
    /* grid-template: [rows] / [columns] */
    grid-template: 1fr 100px 1fr 1fr / 1fr 1fr auto;
    color: white;
}

header,
footer {
    background-color: grey;
    grid-column: 1/4;
}

main {
    color: black;
    display: grid;
    text-align: start;
}

#first {
    background-color: pink;
    grid-column: 1/3;
}

#second {
    background-color: white;
    grid-column: 3/4;
}

nav {
    grid-column: 1/4;
    background-color: black;


}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}