body {
    display: grid;
    height: 100vh;
    width: 100vw;
    /* grid-template: [rows] / [columns] */
    grid-template: 1fr 2fr 1fr / 1fr auto auto;
    color: white;
}

header,
footer {
    background-color: grey;
    grid-column: 1/4;
}

header {
    display: grid;
    grid-template: 1fr auto / auto;
}

main {
    color: black;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 3fr 1fr;
    text-align: start;
}

#first {
    background-color: pink;
    grid-column: 1/2;
    grid-row: 2/3;
}

#second {
    background-color: white;
    grid-column: 2/4;
    grid-row: 2/3;
}

nav {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: black;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
}