body {
    font-family: 'Roboto', sans-serif;
}

header,
footer {
    background-color: #174562;
    color: white;
}

header div {
    display: flex;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    text-align: center;
}

.navigation a {
    display: none;
}

header.open .navigation a {
    display: block;
}

.open a {
    display: block;
}

li {
    text-decoration: none;
    list-style: none;
    width: 100%;
}

a {
    text-decoration: none;
    color: white
}

li:hover {
    background-color: #091f2c;
}

a:hover {
    text-decoration: underline;
}

figure img {
    max-width: 100%;
    height: auto;
}

#menu::before {
    content: "☰";
    color: white;
}

#menu.open::before {
    content: "X";
}

main h2 {
    grid-column: 1/-1;
    text-align: center;
}

main {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
}

footer,
figure {
    text-align: center;
}