@media screen and (min-width: 500px) {
    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        text-align: center;
    }

    .navigation a {
        display: block;
        padding: 5px 5px 10px 5px;
    }

    main {
        display: grid;
        grid-template: auto / repeat(auto-fit, minmax(500px, 1fr));
    }
}